cairocffi==0.9.0
cffi==1.14.1
colour==0.1.5
falcon==2.0.0
falcon-multipart==0.2.0
gunicorn==19.10.0
Jinja2==2.11.2
marisa-trie==0.7.5
MarkupSafe==1.1.1
numpy==1.16.6
palettable==3.3.0
pandas==0.24.2
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
scipy==1.2.3
Shapely==1.7.0
six==1.15.0
