.mydiv div:hover{background-color:rgba(240, 218, 53, 0.3); }

.table tbody tr:hover {
    background-color: #cecdcd;
}

.table {
    overflow-y: auto !important;
    height: 74%;
    padding-right:10px;
    margin-bottom: 1rem!important;
    background-color: #ffffff73 !important;
}


label {
    display: inline-block;
    margin-bottom: 0rem !important;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color:  #efefef !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 1.5px !important;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color:  #ffffff !important;
}

.table tbody tr .table-primary:hover {
    background-color: #cecdcd !important;
}

.table tbody tr .table-danger:hover {
    background-color: #cecdcd !important;
}

.itemconfiguration
{
		height: 95%;
		width:430px;
		top:10px;
		padding-right:10px;
		/* background-color:#CCC; */
        overflow-y:auto;
        overflow-x: hidden;
		float:left;
		position:relative;
		margin-left:-20px;
		margin-bottom:-15px;
		vertical-align: top;
}
.surveyconfiguration
{
		height: 90%;
		width:410px;
		top:10px;
		left:10px;
		right:10px;
		padding-right:15px;
		/* background-color:#CCC; */
        overflow-y: auto;
        overflow-x: hidden;
		float:left;
		position:relative;
		margin-left:10px;
		margin-bottom:10px;
}

.thankyouconfiguration
{
		height: 28vh;
		width:410px;
		top:10px;
		left:10px;
		right:10px;
		padding-right:15px;
		/* background-color:#CCC; */
        overflow-y:auto;
        overflow-x: hidden;
		float:left;
		position:relative;
		margin-left:10px;
		margin-bottom:10px;
}

input[type='radio'] {
    transform: scale(1.4);
}
